.clear.float {
  clear: both;
}

.letter.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.facebook.letter.icon {
  font-size: 52px;
  font-family: sans-serif;
  font-weight: bold;
}

.linkedin.letter.icon {
  font-size: 48px;
  font-family: serif;
  font-weight: bold;
}

.js.letter.icon {
  font-size: 48px;
  font-family: sans-serif;
}

section#projects-carousel figcaption {
  top: auto;
  bottom: 0;
  color: #f50;
}

section#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section#projects li a {
  font-size: xx-large;
  text-decoration: none;
}

section#skills .header {
  display: inline;
}

section#skills ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

section#skills li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

section#skills .icon {
  width: 40px;
  height: 40px;
  padding: 0;
}

section#contacts .header {
  display: inline;
}

section#contacts ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

section#contacts li a {
  display: table;
  font-size: large;
  text-decoration: none;
}

section#contacts .text {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

section#socials ul {
  list-style-type: none;
  padding: 0;
}

section#socials li {
  padding: 10px;
  display: inline-block;
}

section#socials li a {
  font-size: large;
  text-decoration: none;
}

section#socials .icon {
  width: 36px;
  height: 36px;
  padding: 5px;
}