body.dark_theme {
  background: #333;
  color: #ccc;
}

body.dark_theme .switcher {
  background: rgb(94, 89, 89);
}

body.dark_theme .switcher label {
  background: #797979;
}

body.dark_theme section.examples {
  background: #444;
}

body.dark_theme ul.projects li {
  background: #555;
  border-color: #000;
  color: #ccc;
}

body.dark_theme ul.projects li:hover {
  background: rgba(150, 100, 100, 0.5);
}

body.dark_theme ul.projects li a {
  color: #ffc;
}

body.dark_theme ul.socials li:hover {
	background: rgba(100, 130, 100, 0.5);
}

body.dark_theme ul.socials li a {
	color: #ffc;
}