body.dark_theme {
  background: #333;
  color: #ccc;
}

body.dark_theme #nav {
  color: white;
  background: grey;
  border-color: #bbb;
}

body.dark_theme #nav select {
  color: white;
  background: grey;
  border-color: #ddd;
}

body.dark_theme .switcher {
  background: rgb(94, 89, 89);
}

body.dark_theme .switcher label {
  background: #797979;
}

body.dark_theme section#projects {
  background: #444;
}

body.dark_theme section#projects li {
  background: #555;
  border-color: #000;
  color: #ccc;
}

body.dark_theme section#projects li:hover {
  background: rgba(150, 100, 100, 0.5);
}

body.dark_theme section#projects li a {
  color: #ffc;
}

body.dark_theme .letter.icon {
  color: white;
}

body.dark_theme .skill.icon {
  background-color: #555;
}

body.dark_theme .facebook.icon {
  color: #3D5A98;
}

body.dark_theme .linkedin.icon {
  color: #2867B2;
}