header {
 text-align: center;
}
main {
 text-align: center;
}
footer {
 text-align: center;
}

section.examples {
 display: inline-block;
 width: 100%;
}

.clear.float{
 clear: both;
}

ul.projects {
 list-style-type: none;
 padding: 0;
}

ul.projects li {
 padding: 30px;
}

ul.projects li a {
 font-size: xxx-large;
}

ul.projects li:hover {
 background: rgba(0,100,0,0.5);
}

ul.socials {
 display: inline-block;
 list-style-type: none;
 padding: 0;
}

ul.socials li {
 padding: 20px;
 display: inline;
}

ul.socials li a {
 font-size: x-large;
}

ul.socials li:hover {
 background: rgba(0,30,100,0.5);
}
