body {
  font-size: 18px;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

section.examples {
  display: inline-block;
  width: 100%;
}

.clear.float {
  clear: both;
}

ul.projects {
  list-style-type: none;
  padding: 0;
}

ul.projects li {
  padding: 20px;
  border: 1px dashed grey;
  margin: 5px;
  background: lightgrey;
}

ul.projects li a {
  font-size: xx-large;
  text-decoration: none;
}

ul.projects li:hover {
  background: rgba(0, 100, 0, 0.5);
}

ul.socials {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

ul.socials li {
  padding: 20px;
  display: inline;
}

ul.socials li a {
  font-size: x-large;
  text-decoration: none;
}

ul.socials li:hover {
  background: rgba(0, 30, 100, 0.5);
}