body {
  font-size: 18px;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

.switchers {
  float: none;
}

.switcher {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  font-size: x-large;
}
.switcher b {
  padding: 5px 0;
}
.switcher label {
  padding: 5px 10px;
}

section.examples {
  display: inline-block;
  width: 100%;
}

.clear.float {
  clear: both;
}

ul.projects {
  list-style-type: none;
  padding: 0;
}

ul.projects li {
  padding: 20px;
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
}

ul.projects li a {
  font-size: xx-large;
  text-decoration: none;
}

ul.socials {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

ul.socials li {
  padding: 20px;
  display: inline;
}

ul.socials li a {
  font-size: x-large;
  text-decoration: none;
}