body {
  font-size: 18px;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

#nav {
  position: fixed;
  display: block;
  border-style: dashed;
  border-width: 1px;
  background: grey;
  font-size: 21px;
  left: 15%;
  width: 70%;
}

#nav select {
  font-size: 18px;
  margin: 2px 0;
}

#top {
  padding-top: 30px;
}

.switchers {
  float: none;
}

.switcher {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  font-size: x-large;
}
.switcher b {
  padding: 5px 0;
}
.switcher label {
  padding: 5px 10px;
}

section#projects {
  display: inline-block;
  width: 100%;
}

section#projects li {
  padding: 20px;
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
}

section#projects li a {
  font-size: xx-large;
  text-decoration: none;
}

section#skills li {
  display: inline-block;
  padding: 20px;
  margin: 5px;
}