body {
  font-size: 16px;
}

#nav {
  display: none;
}

.switchers {
  float: right;
}

.switcher {
  display: inline-block;
  margin: 2px 8px;
	padding: 5px;
}
.switcher b {
  padding: 5px 0;
}
.switcher label {
  padding: 2px 8px;
  margin: 0 3px;
}

section#projects {
  float: right;
  width: 40%;
}

section#projects h2 {
  text-align: center;
}

section#projects li {
  padding: 20px;
  text-align: center;
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
}

section#socials li {
  transition: transform .1s;
}

section#socials li:hover {
  transform: scale(1.5);
}
