body {
  font-size: 16px;
}

#nav {
  display: none;
}

.switchers {
  float: right;
}

.switcher {
  display: inline-block;
  margin: 2px 8px;
	padding: 5px;
}
.switcher b {
  padding: 5px 0;
}
.switcher label {
  padding: 2px 8px;
  margin: 0 3px;
}

section#projects {
  float: right;
  width: 40%;
}

section#projects h2 {
  text-align: center;
}

section#projects ul {
  list-style-type: none;
  padding: 0;
}

section#projects li {
  padding: 20px;
  text-align: center;
  border-width: 1px;
  border-style: dashed;
  margin: 5px;
}

section#projects li a {
  font-size: xx-large;
  text-decoration: none;
}

section#skills ul {
  list-style-type: none;
  padding: 0;
}

section#skills li {
  display: inline-block;
  padding: 20px;
  margin: 5px;
}

section#skills img {
  width: 36px;
  height: 36px;
}

section#contacts ul {
  list-style-type: none;
  padding: 0;
}

section#contacts li {
  padding: 10px;
  display: inline-block;
}

section#socials ul {
  list-style-type: none;
  padding: 0;
}

section#socials li {
  padding: 10px;
  display: inline-block;
  transition: transform .1s;
}

section#socials li:hover {
  transform: scale(1.5);
}

section#socials li a {
  font-size: large;
  text-decoration: none;
}
